.Header {
  text-align: center;
}

.Trail {
  border: 4px ridge #2471A3;
  text-align: center;
  padding: 10px 10px;
  background-color: #D1F2EB;
}

.Trails {
  display: grid;
  padding: 12px;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: min-content;
}

.Review {
  border: 4px ridge #2471A3;
  text-align: center;
  padding: 0 10px;
  background-color: #D1F2EB;
  overflow-wrap: break-word;
}

.Reviews {
  display: grid;
  padding: 12px;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: min-content;
}